 {{#if user.firstname}}
<div id = "mobile">
<div style="background-image: url('images/headerbg.jpg');">
<h2 class= "logo"><img src="images/logo.png"></h2>
    <div id= menuoptions>
            <a href= "/"><img src="images/mainmenu.jpg" id= "menuimg"></a>
            <a href="/registration"> <img src="images/signup.jpg" id= "menuimg"></a>
            <a href="/MealPkg"> <img src="images/mealpkg.jpg" id= "menuimg"></a>
                      {{#if user.firstname}}
            <a href="/logout"> <img src="images/out.jpg" id= "menuimg"></a>
            {{else}}
            <a href="/login"> <img src="images/login.jpg" id= "menuimg"></a>
            {{/if}}
        </div>
        </div>

          </br>
<body>
<table style="text-align: center;">
        <thead>
                <th id = "talbeHead">Image </th>
                <th id = "talbeHead">Meal Name</th>
                <th id = "talbeHead">Meal Price</th>
                <th id = "talbeHead">Meal Description</th>
                <th id = "talbeHead">Top Package</th>
        </thead>
        <tbody>
            {{#each data}}
                <tr>
                  <td>
                    <img src = "images/mealPack0.jpg" id = "placeholder">
                  </td>
                   <td>
                        <span>{{this.mealName}}</span>
                   </td>
                   <td>
                       <span>{{this.mealPrice}}</span>
                      
                   </td>
                   <td>
                        <span>{{this.mealDesc}}</span>
                   </td>
                   <td>
                     {{#if this.topPackage}}
                     <img src = "images/topMenu.jpg">
                     {{/if}}
                   </td>
                    <td>
                        <a href="/updatableMeals/{{this.id}}?method=PUT">Edit</a>
                   </td> 
                </tr>
                {{/each}}
    </tbody>
    </table>

</br></br></br></br></br></br></br>
 </br> </br> </br> </br></br> </br></br></br></br>
  </br> </br> </br> </br></br> </br></br></br></br>
   </br> </br> </br> </br></br> </br></br></br></br>
    </br> </br> </br> </br></br> </br></br></br></br></br>
<div style="background-image: url('images/footer.png');" id="footer"> 
<footer >

<p id="foot">Our Moto! (Scroll up!!!)</p>
<p id="foot">About Us! (Scroll up!!!)</p>
<p id="foot">Contact Us! (Not available right now)</p>
<div id= "socialmediafootdiv">
  <a href="https://www.facebook.com/"> <img src="images/facebook.jpg" id= "socialmediafoot"></a>
  <a href="https://twitter.com/"> <img src="images/twitter.png" id= "socialmediafoot"></a>
  <a href="https://www.instagram.com/"> <img src="images/instagram.jpg" id= "socialmediafoot"></a>
</div>
</footer>
</div>
</body>

</body>
</div>
    {{else}}
    <p>Error you are not logged in!</p>
{{/if}}